/* #fff7fc, #8a576d, #946655 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3e5d8;
    color: #333;
    padding: 20px;
    line-height: 1.5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
    margin-bottom: 30px;
}

.header__img {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20;
    border-radius: 10px;
    margin-bottom: 20px;
}

.title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.paragraph {
    font-size: 1.2rem;
    color: #555;
}

.tiempo-preparacion {
    background-color: #fff7fc;
    padding: 20px;
    border-radius: 10px;
}

.title__tiempo-preparacion {
    color: #824e68;
}

.tiempo-preparacion__list {
    color: #6e6462;
    padding: 20px;
}