@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Young+Serif&display=swap');

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-stone-100: hsl(30, 54%, 90%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-600: hsl(30, 10%, 34%);
    --color-stone-900: hsl(24, 5%, 18%);
    --color-brown-800: hsl(14, 45%, 36%);
    --color-rose-800: hsl(332, 51%, 32%);
    --color-rose-50: hsl(330, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-stone-100);
    color: var(--color-stone-900);
    padding: 20px;
    line-height: 1.5;
    max-width: 1440px;
}

.title {
    font-family: 'Young Serif', serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--color-white);
    padding: 50px;
    border-radius: 10px;
}

.header {
    margin-bottom: 30px;
}

.header__img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    background-size: cover;
}

.title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.paragraph {
    font-size: 16px;
    color: #555;
}

.tiempo-preparacion {
    background-color: var(--color-rose-50);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tiempo-preparacion__title {
    color: var(--color-rose-800);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 1.25rem;
}

.tiempo-preparacion__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.tiempo-preparacion__item {
    color: var(--color-stone-600);
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 30px;
}

.tiempo-preparacion__item strong {
    font-weight: bold;
    margin-right: 4px;
}

.tiempo-preparacion__item::before {
    content: '•';
    color: var(--color-rose-800);
    margin-right: 20px;
    font-size: 1.5rem;
    position: relative;
    left: -10px;
}

.ingredientes {
    border-bottom: 1px solid var(--color-stone-100);
}

.ingredientes__title {
    color: var(--color-brown-800);
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

.ingredientes__list {
    list-style: none;
    margin: 20px 0;
    padding-left: 20px;
}

.ingredientes__item {
    color: var(--color-stone-600);
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 10px;
}

.ingredientes__item::before {
    content: '•';
    color: var(--color-brown-800);
    margin-right: 20px;
    font-size: 1.5rem;
    position: relative;
    left: -10px;
}

.instrucciones {
    border-bottom: 1px solid var(--color-stone-100);
    padding: 20px 0;
}

.instrucciones__title {
    color: var(--color-brown-800);
    font-family: 'Young Serif', serif;
    font-weight: 400;
    padding-bottom: 20px;
}

.instrucciones__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.instrucciones__item {
    color: var(--color-stone-600);
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
    position: relative;
    padding-left: 45px;
}

.instrucciones__item::before {
    content: counter(item) '.';
    counter-increment: item;
    color: var(--color-brown-800);
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 0;
}

.instrucciones__list {
    counter-reset: item;
}

.nutricion {
    margin: 20px 0;
}

.nutricion__title {
    color: var(--color-brown-800);
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

.nutricion__paragraph {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    margin: 10px 0;
    color: var(--color-stone-600);
}

.nutricion__table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Outfit', sans-serif;
}

.nutricion__row {
    border-bottom: 1px solid var(--color-stone-100);
}

.nutricion__label {
    color: var(--color-stone-600);
    text-align: left;
    position: relative;
    left: 40px;
    font-size: 1rem;
}

.nutricion__table-value {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-brown-800);
    font-weight: bold;
    padding: 10px 0;
}

.nutricion__row:last-child {
    border-bottom: none;
}

@media screen and (max-width: 450px) {
    body {
        padding: 0;
    }

    .container {
        max-width: 100%;
        padding: 20px;
    }

    .header__img {
        height: auto;
        border-radius: 0;
    }

    .title {
        font-size: 1.8rem;
    }

    .paragraph {
        font-size: 0.9rem;
        line-height: 1.4;
    }

    .tiempo-preparacion {
        padding: 15px;
    }

    .tiempo-preparacion__title {
        font-size: 1.1rem;
    }

    .tiempo-preparacion__item {
        font-size: 0.9rem;
        padding-left: 20px;
        display: inline-block;
    }

    .ingredientes__title,
    .instrucciones__title,
    .nutricion__title {
        font-size: 1.2rem;
    }

    .ingredientes__item,
    .instrucciones__item,
    .nutricion__label,
    .nutricion__table-value {
        font-size: 0.9rem;
    }

    .instrucciones__item {
        padding-left: 30px;
    }

    .instrucciones__item::before {
        left: 5px;
    }

    .nutricion__label {
        left: 10px;
    }

    .nutricion__table {
        width: 100%;
    }

    .nutricion__table-value {
        text-align: right;
    }
}